@model Bangazon.Models.ProductTypesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupedProducts)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GroupedProducts) {
    
        <tr>
            <td>
               <a href=@($"http://localhost:5000/Products/GetProductType/{item.TypeId}")>
                            @Html.DisplayFor(modelItem => item.TypeName)</a> (@item.ProductCount)
                <ul>
                    @{ 
                        foreach (var product in item.Products)
                        {
                            <li>
                                <a asp-controller="Products"asp-action="Details" asp-route-id="@product.ProductId">
                                    @Html.DisplayFor(modelItem => product.Title)
                                </a>
                            </li>
                            }
                        }
                </ul>
            </td>
           
        </tr>
}
    </tbody>
</table>
